@import url(http://fonts.googleapis.com/css?family=Sniglet:800);

body {
  font-family: Verdana, Tahoma, Geneva, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  background: #81e7db;
}

h1 {
  font-family: 'Sniglet', Helvetica, cursive;
  letter-spacing: -2px;
  font-size: 4.2rem;
  text-shadow: 3px 0px 2px rgba(0,0,125,0.24), 0px 2px 5px rgba(255,255,255,0.7);
}

h1:before {
  content: "The ";
  font-size: 1.8rem;
  margin: 2rem 0 -1rem 0;
  display: block;
}

form, form input {
  font-size: 1rem;
}

form input[type=text], form input[type=submit], form select {
  font-size: 1rem;
  border: 1px solid #66ccbd;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.08);
  padding: 0.618em 1em;
  border-radius: 5px;
  background: white;
  color: rgba(0,0,0,0.75);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form input[type=submit]{
  font-weight: bold;
}

form input[type=submit]:hover{
  cursor: pointer;
  position: relative;
  top: -1px;
}

ul {
  text-align: left;
  max-width: 300px;
  margin: 2rem auto;
}