<!DOCTYPE html>
<html>
<head>
  <title>Scotchy Scotch Scotch</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">All Scotches</a></li>
        <li><a href="/scotches/new">Add a New Scotch</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    &copy; <%= Time.now.year %> Scotchy Scotch Scotch, Inc.
  </footer>
</body>
</html>
