
<div class="row">
  <div class="span11">
    <h1 >Listing Users</h1>  
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>  
      <th>Email</th>
      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.email %>
          (<%= user.photos.length %> photos)
        </td>
        <td><%= link_to "Show", user %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


