/* General */
body {
  background: #faf8ef;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.container {
  margin: 0 auto;
  text-align: center;
}

#gameHeader {
  width:350px;
  margin: 0 auto;
  margin-top: 6vh;
  text-align: left;
}

#gameTitle {
  color: #776e65;
  display: inline-block;
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 0px;
}

#gameInstruction{
  width:350px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.instructions1, .instructions2 {
  color: #776e65;
  font-size: 16px;
  margin-top: 0px;
  text-align: left;
  margin-bottom: 5px;
}

.instructions2 {
  width: 240px;
  line-height: 1.2;
  margin-bottom: 15px;
}

/* Button */
#newGame {
  font-size: 17px;
  font-weight: 500;
  width: 110px;
  height: 40px;
  background: #8f7a66;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

#newGame:focus {
  outline: none;
}

/* Table */
table {
  border-spacing: 12px;
  border-radius: 5px;
}

#gridTable {
  background: #bbada0;
}

#gameConsole {
  position: relative;
  width: 350px;
  margin: 0 auto;
}

#message {
  background: white;
  position: absolute;
  display: none;
  opacity: 0.7;
  width: 352px;
  height: 354px;
  font-size: 50px;
  z-index: 2000;
}

.messageEnd {
  display: block !important;
  padding-top: 50px;
  /*-webkit-animation: fade-ins 5s 1;
  -o-animation: fade-in 5s 1;
  animation: fade-in 5s 1;*/
}

/*@keyframes fade-in {
  0% {
    visibility: hidden;
      }
  100% {
    visibility: visible;
      }
}*/

/* Table cells */
td {
  height: 100px;
  width: 100px;
  font-size: 80px;
  text-align: center;
  background: rgba(238,228,218,0.35);
  border-radius: 5px;
  /*animation: firstAnimate 1s 3;*/
}

@keyframes firstAnimate {
  0% {background: rgba(238,228,218,0.35);}
  25% {background: #eee4da;}
  50% {background: #ede0c8;}
  100% {background: #f2b179}
}

@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
}

.numberNil, .number2, .number4 {
  color: #776e65;
}
.numberNil {
  background: rgba(238,228,218,0.35);
}

.number2 {
  background: #eee4da;
}

.number4 {
  background: #ede0c8;
}

.number8, .number16, .number32, .number64, .number128 {
  color: #fff;
}

.number8 {
  background: #f2b179;
}

.number16 {
  background: #f59563;
}

.number32 {
  background: #f67c5f;
}

.number64 {
  background: #f65e3b;
}

.number128 {
  background: #edcf72;
}

@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
}

.tile-merged {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
}
