<h2>courses</h2>

<a class="btn" href="/courses/new">Add Course</a>

<div class="courses">
  <div class="row">
    <ul>
      <% @courses.each do |course| %>
        <li>
          <a href="/courses/<%= course.id %>">
            <%= course.name %>
          </a>
        </li>
        <li>
          <form method="post" action="/courses/<%= course.id %>/delete">
            <button>Delete</button>
          </form>
      </li>
      <% end %>
    </ul>
  </div>
</div>
