<h2><%= @course.name %> </h2>

<p>
  <strong>Recipes Using this course:</strong>
  <ul>
    <% @course.recipes.each do |r| %>
      <li><%= r.title %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Ingredients used for this course:</strong>
  <ul>
    <% @course.ingredients.each do |i| %>
      <li><%= i.name %></li>
    <% end %>
  </ul>
</p>


<a href="/courses/<%= @course.id %>/edit">Edit</a>
