<h2>Edit ingredient</h2>

<form action="/ingredients/<%= @ingredient.id %>/update" method="post">
  
  <label for="ingredient[name]">Title:</label>
  <input name="ingredient[name]" value="<%= @ingredient.name %>">
  <br>

  <input type="submit" value="Update">
</form>
