<h2>ingredients</h2>

<a class="btn" href="/ingredients/new">Add Ingredient</a>

<div class="ingredients">
  <div class="row">
    <ul>
      <% @ingredients.each do |ingredient| %>
        <li>
          <a href="/ingredients/<%= ingredient.id %>">
            <%= ingredient.name %>
          </a>
        </li>
        <li>
          <form method="post" action="/ingredients/<%= ingredient.id %>/delete">
            <button>Delete</button>
          </form>
      </li>
      <% end %>
    </ul>
  </div>
</div>
